*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  background: grey;
}

.navbar {
  width:100%;
  display: flex;
  border-bottom: 1px solid #eee;
}

.navbar-brand {
  height: 100%;
  width:70%;
}
.navbar-nav {
  height:100%;
  width:30%;
  display:flex;
  align-items:center;
}
.card {
  height: 70%;
  width: 70%;
  background-color: white;
 
}

.img {
  margin-right: 10px;
}

.footer {
  border-top: 5px solid teal;
  background: grey;
  padding: 30px;
    clear: both;
    text-align: center;
    width: 100%;
  position: fixed-bottom;
}


@media screen and (max-width: 768px) {

  .navbar-brand {
    display:block;
    height: 100%;
    width:100%;
  }
  .nav .navbar-nav {
   justify-content:space-around;
    width:100%;
}
.card {
align-items: center;
}
}